<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Абитуриент</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/all.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/game.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
              asp-fallback-href="~/lib/font-awesome/all.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
              crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/bundle.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Head", required: false)
</head>
<body>
    <environment exclude="Development">
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </environment>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img class="brand-logo" alt="Brand" src="~/images/logo.png" />
                </a>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div style="clear: both"></div>
            </div>
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="brand-text">
                        <h3>Абитуриент ХНЭУ</h3>
                    </li>
                    <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li><a asp-controller="Home" asp-action="About">О Нас</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Контакты</a></li>
                    <li @if (User.Identity.Name != "admin@admin.admin") { <text> style="display:none;" </text> }><a asp-controller="Home" asp-action="Admin">Админпанель</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>

        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="container-fluid raw-body">
        @RenderSection("RawBody", required: false)
    </div>

    <hr />

    <footer>
        <style>

            body {
                -webkit-font-smoothing: antialiased;
            }

            .deck {
                position: relative;
                width: 10em;
                height: 13em;
                margin: 4em 0 0 -9em;
                -webkit-backface-visibility: hidden;
                font-family: "Ubuntu", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
                text-align: center;
            }

            .deck__item {
                list-style-type: none;
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 0.3em;
                border: 0.1em solid rgba(0, 0, 0, 0.15);
                box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3), inset 0 6em 6em rgba(255, 255, 255, 0.1);
                transform-origin: 90% 92%;
                transition: 0.3s;
            }

                .deck__item:hover ~ .deck__item {
                    transform: rotate(120deg);
                }

                .deck__item:last-of-type:after {
                    content: "";
                    position: absolute;
                    left: 90%;
                    top: 92%;
                    border-radius: 50%;
                    width: 1.2em;
                    height: 1.2em;
                    background: white;
                    margin: -0.6em 0 0 -0.6em;
                    box-shadow: inset 0 1px 1px white, inset 0 -0.3em 0.2em #dddcdb, 0 0 0.6em rgba(0, 0, 0, 0.2);
                }

                .deck__item:last-of-type:before {
                    content: "";
                    position: absolute;
                    right: 0.4em;
                    bottom: 0.9em;
                    width: 1.1em;
                    height: 0.15em;
                    background: silver;
                    background: rgba(0, 0, 0, 0.1);
                    z-index: 2;
                }

            .deck__link {
                text-decoration: none;
                display: block;
                color: white;
                color: rgba(255, 255, 255, 0.8);
            }

            .deck__icon {
                font-family: "FontAwesome", sans-serif;
                font-size: 4em;
                color: black;
                color: rgba(0, 0, 0, 0.6);
                display: block;
                margin: 0.5em auto;
            }

            .deck__item--facebook {
                background: #3b5998;
                transform: rotate(-10deg);
            }

            .deck__item--github {
                background: #4183c4;
                transform: rotate(0deg);
            }

            .deck__item--twitter {
                background: #00a0d1;
                transform: rotate(10deg);
            }

            .deck__item--pinterest {
                background: #910101;
                transform: rotate(20deg);
            }

            .deck__item--googleplus {
                background: #db4a39;
                transform: rotate(30deg);
            }
        </style>

        <ul class="deck">
            <li class="deck__item deck__item--facebook">
                <a class="deck__link" href="javascript:facebook()">
                    <span class="deck__icon fontawesome-facebook"></span>
                    <span class="deck__label">Facebook</span>
                </a>
            </li>
            <li class="deck__item deck__item--github">
                <a class="deck__link" href="https://github.com/bhkhdh/enrollee" target="_blank">
                    <span class="deck__icon fontawesome-github"></span>
                    <span class="deck__label">GitHub</span>
                </a>
            </li>
            <li class="deck__item deck__item--twitter">
                <a class="deck__link" href="https://twitter.com/intent/tweet?url=https://hneu-abit.appspot.com/&amp;text=Пройди%20этот%20квест,%20узнай%20что%20тебя%20ждёт%20при%20поступлении%20в%20универ!" target="_blank" />
                <span class="deck__icon fontawesome-twitter"></span>
                <span class="deck__label">Twitter</span>
                </a>
            </li>
            <li class="deck__item deck__item--pinterest">
                <a class="deck__link" href="https://www.pinterest.com/pin/create/button/?url=https://hneu-abit.appspot.com&description=Пройди%20этот%20квест,%20узнай%20что%20тебя%20ждёт%20при%20поступлении%20в%20универ!" target="_blank">
                    <span class="deck__icon fontawesome-pinterest"></span>
                    <span class="deck__label">Pinterest</span>
                </a>
            </li>
            <li class="deck__item deck__item--googleplus">
                <a class="deck__link" href="https://plus.google.com/share?url=https://hneu-abit.appspot.com" target="_blank">
                    <span class="deck__icon fontawesome-google-plus"></span>
                    <span class="deck__label">Google+</span>
                </a>
            </li>
        </ul>
        <script>
            function facebook() {
                window.open('https://www.facebook.com/sharer/sharer.php?u=https://hneu-abit.appspot.com',
                    'facebook-share-dialog',
                    'width=800,height=600'
                );
            }
        </script>

        <div class="copyright">
            <p>&copy; 2018 - Enrollee</p>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/comments.js" asp-append-version="true"></script>
        <script src="~/js/game.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/bundle.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
