@*@model PaginatedList<Enrollee.Models.Comment>*@
@model IEnumerable<Enrollee.Models.Comment>
@{
    //var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    //var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

@inject UserManager<ApplicationUser> UserManager
@using System.Security.Claims

<div class="row">
    @*<ul class="list-inline">
            <li>
                <p style="margin:10px;">@Model.PageIndex / @Model.TotalPages pages</p>
            </li>
            <li>
                <a asp-action="Index"
                   asp-route-page="@(Model.PageIndex - 1)"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>
            </li>
            <li>
                <a asp-action="Index"
                   asp-route-page="@(Model.PageIndex + 1)"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>
            </li>
        </ul>*@
    <ul>
        @foreach (var item in Model)
        {

            var user = await @UserManager.FindByIdAsync(item.UserId.ToString());
            if (user == null) continue;
            <li>
                <div>
                    <b>@user.GivenName</b>
                    <p>@item.Text</p>
                    <i>@item.DateTime</i>
                </div>
            </li>
        }
    </ul>
</div>